{$API_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 12MB
	}
	reverse_proxy api:8080 {
		health_uri /health
		health_interval 15s
	}
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		-Server
	}
}
